{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <nav>
        <label class="logo">Don Public School</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Scholarships</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- <li><a href="/timetable">Time Table</a></li> -->
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <section class="about-section">
        <h2>Get your child a quality education</h2>
        <p>DPS, the best public shool in Calicut has proved its expertise by teaching several hundreds of students. Not only in teaching, we have high quality labouratories, sports extracurricular activities.</p>
        
        <div class="div1">
            <div id="d1"></div>
            <div id="d2"></div>
            <div id="d3"></div>
            <div id="d4"></div>
        </div>
        <div class="div1">
            <div id="d5"></div>
            <div id="d6"></div>
            <div id="d7"></div>
            <div id="d8"></div>
        </div>
        <footer class="foot">
            <div class="company">
                <h2>Company</h2>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">+91 7510367371</a></li>
                    <li><a href="#">www.dps.com</a></li>
                </ul>
            </div>
            </footer>
    </section>
</body>
</html>