{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <nav>
        <label class="logo">Don Public School</label>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#">Scholarships</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/timetable">Time Table</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <section class="contact">
        <div class="div1">
            <label for="">Contact number: 71-45321877</label><br><br>
            <label for="">Email: donpublic@gmail.com</label><br><br>
            <label for="">Facebook:donpublic001</label><br><br>
            <label for="">twitter:@don001</label><br><br>
        </div>
    </section>
</body>
</html>