{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>
<body class="body1">
    <table align="center" cellspacing="3px" cellpadding="2px" class="table">
        <tr>
            <td class="head">LOGIN</td>
        </tr>
        <tr>
            <td><input type="text" placeholder="User name"></td>
        </tr>
        <tr>
            <td><input type="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td><button>Login</button></td>
        </tr>
    </table>
</body>
</html>