{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time table</title>
    <link rel="stylesheet" href="{% static 'css/time.css' %}">
</head>
<body class="body-class">
    <nav>
        <label class="logo">Don Public School</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Scholarships</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- <li><a href="/timetable">Time Table</a></li> -->
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <!-- <table border="2" width="400px" cellspacing="2" cellpadding="10px" class="timetable">
        <thead align="center">
            <tr>
                <th colspan="6">time table</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="7"><b>hours</b></td>
            </tr>
            <tr>
                <td>mon</td>
                <td>tue</td>
                <td>wed</td>
                <td>thus</td>
                <td>fri</td>
            </tr>
            <tr>
                <td>science</td>
                <td>maths</td>
                <td>science</td>
                <td>maths</td>
                <td>arts</td>
            </tr>
            <tr>
                <td>social</td>
                <td>history</td>
                <td>science</td>
                <td>maths</td>
                <td>arts</td>
            </tr>
            <tr>
                <td colspan="5" align="center"><b>lunch</b></td>
            </tr>
            <tr>
                <td>science</td>
                <td>maths</td>
                <td>science</td>
                <td>maths</td>
                <td rowspan="2">project</td>
            </tr>
            <tr>
                <td>social</td>
                <td>history</td>
                <td>english</td>
                <td>social</td>
            </tr>
        </tbody>
    </table> -->
    <section class="body1"></section>
</body>
</html>